NiFi_Flow - postgresql.json
{"flowContents":{"identifier":"90f2056a-35f5-3444-91c5-1a60372913f3","instanceIdentifier":"b6009726-0196-1000-7cff-c4f075dfcbe9","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4","instanceIdentifier":"bc0b10fc-0196-1000-5fdb-9c757492acbe","name":"ConvertDBOutput_to_CSV_andUpdateFIleName","comments":"","position":{"x":-632.0,"y":-392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"02f67a4e-1ae8-3b90-8806-3d84dbb4113e","instanceIdentifier":"bbf5211f-0196-1000-cd82-3106cebf0319","name":"UpdateAttribute","comments":"","position":{"x":-88.0,"y":-176.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"grouped_${filename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4"},{"identifier":"6ca32600-9c59-38a3-a7aa-5a9bb71f10db","instanceIdentifier":"bb89d9da-0196-1000-f4b5-b2d8c742aa5e","name":"ConvertRecord","comments":"","position":{"x":-704.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"01f32ee6-fb0e-3e86-b5c0-fed706989ecb","Record Reader":"95edb9b6-b6bf-3820-be38-66f6f741dc07"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4"}],"inputPorts":[{"identifier":"ac68070d-f807-3a4c-8343-f4f91a2925da","instanceIdentifier":"bc0d13b7-0196-1000-a439-a37f8487f823","name":"DataBaseQueryOutput","position":{"x":-648.0,"y":-384.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4"}],"outputPorts":[{"identifier":"37cc00f1-062e-3be9-a771-3b488fe88d2b","instanceIdentifier":"bc0e07db-0196-1000-8a33-ac3f7716bf9b","name":"CSVDataUpdateFileName","position":{"x":-32.0,"y":112.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4"}],"connections":[{"identifier":"9b74bc12-e600-3e03-a8b3-8247cd8ac9ba","instanceIdentifier":"bc0d26a2-0196-1000-39d2-a62ac7da11ab","name":"","source":{"id":"ac68070d-f807-3a4c-8343-f4f91a2925da","type":"INPUT_PORT","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"DataBaseQueryOutput","instanceIdentifier":"bc0d13b7-0196-1000-a439-a37f8487f823"},"destination":{"id":"6ca32600-9c59-38a3-a7aa-5a9bb71f10db","type":"PROCESSOR","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"ConvertRecord","comments":"","instanceIdentifier":"bb89d9da-0196-1000-f4b5-b2d8c742aa5e"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4"},{"identifier":"623c77ba-6988-378c-a3f1-404e4e0bee33","instanceIdentifier":"bc0e1a32-0196-1000-9c50-6ca596d0308b","name":"","source":{"id":"02f67a4e-1ae8-3b90-8806-3d84dbb4113e","type":"PROCESSOR","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"UpdateAttribute","comments":"","instanceIdentifier":"bbf5211f-0196-1000-cd82-3106cebf0319"},"destination":{"id":"37cc00f1-062e-3be9-a771-3b488fe88d2b","type":"OUTPUT_PORT","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"CSVDataUpdateFileName","instanceIdentifier":"bc0e07db-0196-1000-8a33-ac3f7716bf9b"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4"},{"identifier":"dd21a6a2-2194-35b5-ad37-d7fc2bd36d47","instanceIdentifier":"bc0b961a-0196-1000-ed12-f3a6f10d5811","name":"","source":{"id":"6ca32600-9c59-38a3-a7aa-5a9bb71f10db","type":"PROCESSOR","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"ConvertRecord","comments":"","instanceIdentifier":"bb89d9da-0196-1000-f4b5-b2d8c742aa5e"},"destination":{"id":"02f67a4e-1ae8-3b90-8806-3d84dbb4113e","type":"PROCESSOR","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"UpdateAttribute","comments":"","instanceIdentifier":"bbf5211f-0196-1000-cd82-3106cebf0319"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"71f3561c-01fc-3fc4-bf32-334b263a57d4"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"}],"remoteProcessGroups":[],"processors":[{"identifier":"093fcd5e-4e1f-3366-b99a-e33f8f45c4bb","instanceIdentifier":"c0a8836f-0196-1000-82e6-f96b340dda94","name":"InvokeHTTP","comments":"","position":{"x":-1952.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://bored-api.appbrewery.com/random","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"5ed1e557-d3e4-3640-b52f-38723529d048","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"76692c1a-763b-3ab4-b628-c8153c0a6b0f","instanceIdentifier":"baff9068-0196-1000-bece-b7849ad3dfe5","name":"PutDatabaseRecord","comments":"","position":{"x":600.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"fa3f457c-8009-3470-97cc-6a47d4b0faa8","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"cars","put-db-record-record-reader":"7a60e838-78ce-3af7-b6ae-9e72891371cd"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"71cfeb04-9cc9-3628-8821-95f1df0b71c9","instanceIdentifier":"bb80c9d8-0196-1000-90ce-7182982a3b38","name":"ExecuteSQL","comments":"","position":{"x":600.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"DELETE FROM cars WHERE brand IS NULL \nOR price IS NULL \nOR body IS NULL \nOR mileage IS NULL \nOR engv IS NULL \nOR engtype IS NULL \nOR registration IS NULL \nOR year IS NULL \nOR model IS NULL \nOR drive IS NULL;","Database Connection Pooling Service":"fa3f457c-8009-3470-97cc-6a47d4b0faa8","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"6ab67f13-be05-3270-b6f1-81dd0647874e","instanceIdentifier":"c0c915b1-0196-1000-ee44-33213f90384a","name":"PutFile","comments":"","position":{"x":-1192.0,"y":-1256.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/apple/generated_output_files/activities","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"b09eff2c-cf4b-3da1-86a9-0e01327946fa","instanceIdentifier":"c0ce26ca-0196-1000-07e1-bdaff9181a20","name":"MonitorActivity","comments":"","position":{"x":-1176.0,"y":-1056.0},"type":"org.apache.nifi.processors.standard.MonitorActivity","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Continually Send Messages":"false","Inactivity Message":"Lacking activity as of time: ${now():format('yyyy/MM/dd HH:mm:ss')}; flow has been inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Activity Restored Message":"Activity restored at time: ${now():format('yyyy/MM/dd HH:mm:ss')} after being inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Copy Attributes":"false","Monitoring Scope":"node","Threshold Duration":"10 sec","Wait for Activity":"false","Reset State on Restart":"true","Reporting Node":"all"},"propertyDescriptors":{"Continually Send Messages":{"name":"Continually Send Messages","displayName":"Continually Send Messages","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Inactivity Message":{"name":"Inactivity Message","displayName":"Inactivity Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Activity Restored Message":{"name":"Activity Restored Message","displayName":"Activity Restored Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Copy Attributes":{"name":"Copy Attributes","displayName":"Copy Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Monitoring Scope":{"name":"Monitoring Scope","displayName":"Monitoring Scope","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Threshold Duration":{"name":"Threshold Duration","displayName":"Threshold Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Wait for Activity":{"name":"Wait for Activity","displayName":"Wait for Activity","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reset State on Restart":{"name":"Reset State on Restart","displayName":"Reset State on Restart","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reporting Node":{"name":"Reporting Node","displayName":"Reporting Node","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"e527ad2a-3631-35e2-9cf0-df252feda0c4","instanceIdentifier":"bb6756fe-0196-1000-0145-8f809a3411d2","name":"ReplaceText","comments":"","position":{"x":0.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"NA","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"c0c4287b-0196-1000-7872-4510c6189570","instanceIdentifier":"2797199a-66eb-3fd1-b11d-92e59d1d0d0c","name":"InvokeHTTP","comments":"","position":{"x":-1592.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://bored-api.appbrewery.com/random","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"5ed1e557-d3e4-3640-b52f-38723529d048","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"c0c41dfe-0196-1000-f197-4ebce6e81141","instanceIdentifier":"7cb579d1-5aff-3cba-ec21-107f4ee1aecd","name":"InvokeHTTP","comments":"","position":{"x":-2312.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://bored-api.appbrewery.com/random","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"5ed1e557-d3e4-3640-b52f-38723529d048","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"c0d9616c-0196-1000-53de-fd56d98fca70","instanceIdentifier":"5a915523-6e85-3b1c-054f-83366707c620","name":"PutEmail","comments":"","position":{"x":-1624.0,"y":-800.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"The Process Flow is succesfully completed!!","Attach File":"true","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"no-reply@gmail.com","Include All Attributes In Message":"true","SMTP Hostname":"smtp.gmail.com","Subject":"Monitoring Status!!","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"venkatesh.addala98@gmail.com","To":"venky96184@gmail.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"cda69c4c-db03-3f34-947f-b710a1fd68c4","instanceIdentifier":"bafa7a3c-0196-1000-8b91-f6f9f42a5842","name":"GetFile","comments":"","position":{"x":-608.0,"y":-624.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/Users/apple/datasets","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"car_ad_[0-9]{2}\\.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"807c6db3-56f6-3db6-9b1c-bcaed28a67a8","instanceIdentifier":"bb84f177-0196-1000-1dc0-36a1e0654b16","name":"ExecuteSQL","comments":"","position":{"x":-16.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"SELECT brand, AVG(price) as avg_price, COUNT(*) as count \nFROM cars GROUP BY brand","Database Connection Pooling Service":"fa3f457c-8009-3470-97cc-6a47d4b0faa8","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"bf198b18-fb53-3165-898e-22609d4ecc4f","instanceIdentifier":"c0d00608-0196-1000-8140-d61f53815485","name":"PutEmail","comments":"","position":{"x":-1760.0,"y":-1056.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"The process flow has been inactive or restored jut now!!!","Attach File":"true","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"no-reply@gmail.com","Include All Attributes In Message":"true","SMTP Hostname":"smtp.gmail.com","Subject":"Monitoring Status!!","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"venkatesh.addala98@gmail.com","To":"venky96184@gmail.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"28806aba-457d-3873-97e3-7b24ed490a34","instanceIdentifier":"bbf7330c-0196-1000-a2fd-dc3c781e3c38","name":"PutFile","comments":"","position":{"x":-632.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/apple/generated_output_files","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"8b1d0645-16cc-347a-8618-2c8a89e61c12","instanceIdentifier":"c0c5ce6e-0196-1000-87fe-a6bf39578346","name":"JoltTransformJSON","comments":"","position":{"x":-2304.0,"y":-1272.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.4.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n    {\n        \"operation\": \"shift\", \n        \"spec\": {\n            \"activity\": \"activity\",\n            \"type\": \"type\"\n        }\n    }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"dad2881b-d604-3211-94ca-1b5036985568","instanceIdentifier":"c0c7b784-0196-1000-c2b6-1aa467551533","name":"UpdateAttribute","comments":"","position":{"x":-1736.0,"y":-1232.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"activity${nextInt()}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"99639065-eac7-3721-9b5b-05fc07282984","instanceIdentifier":"c0c5122e-0196-1000-de6b-0b5c669c6e90","name":"","source":{"id":"093fcd5e-4e1f-3366-b99a-e33f8f45c4bb","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"InvokeHTTP","comments":"","instanceIdentifier":"c0a8836f-0196-1000-82e6-f96b340dda94"},"destination":{"id":"d0624b1d-b73d-3078-ab5d-49a5f585cba9","type":"FUNNEL","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"Funnel","comments":"","instanceIdentifier":"c0c4678c-0196-1000-5830-7dc686dfb0d0"},"labelIndex":0,"zIndex":9,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"42677471-da78-3376-8804-9ef3af5e82d2","instanceIdentifier":"c0d056e9-0196-1000-027b-d78c79e00c86","name":"","source":{"id":"b09eff2c-cf4b-3da1-86a9-0e01327946fa","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"MonitorActivity","comments":"","instanceIdentifier":"c0ce26ca-0196-1000-07e1-bdaff9181a20"},"destination":{"id":"bf198b18-fb53-3165-898e-22609d4ecc4f","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutEmail","comments":"","instanceIdentifier":"c0d00608-0196-1000-8140-d61f53815485"},"labelIndex":0,"zIndex":15,"selectedRelationships":["inactive","activity.restored"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"7a93053e-b291-33d0-b3d5-3c2e5b71747c","instanceIdentifier":"bb835a52-0196-1000-7070-293fd59f97de","name":"","source":{"id":"76692c1a-763b-3ab4-b628-c8153c0a6b0f","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"baff9068-0196-1000-bece-b7849ad3dfe5"},"destination":{"id":"71cfeb04-9cc9-3628-8821-95f1df0b71c9","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"ExecuteSQL","comments":"","instanceIdentifier":"bb80c9d8-0196-1000-90ce-7182982a3b38"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"c1e38aea-2860-3fbd-8ca9-3b23002c46de","instanceIdentifier":"bb698a5e-0196-1000-c519-0b30d79aaa89","name":"","source":{"id":"e527ad2a-3631-35e2-9cf0-df252feda0c4","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"ReplaceText","comments":"","instanceIdentifier":"bb6756fe-0196-1000-0145-8f809a3411d2"},"destination":{"id":"76692c1a-763b-3ab4-b628-c8153c0a6b0f","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"baff9068-0196-1000-bece-b7849ad3dfe5"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"76128f25-19e0-31fa-9656-43e77e898318","instanceIdentifier":"bb677ad3-0196-1000-c3ac-eb8d60bc07f5","name":"","source":{"id":"cda69c4c-db03-3f34-947f-b710a1fd68c4","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"GetFile","comments":"","instanceIdentifier":"bafa7a3c-0196-1000-8b91-f6f9f42a5842"},"destination":{"id":"e527ad2a-3631-35e2-9cf0-df252feda0c4","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"ReplaceText","comments":"","instanceIdentifier":"bb6756fe-0196-1000-0145-8f809a3411d2"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"312d6a77-930d-32c0-9216-b906cef81176","instanceIdentifier":"bb800cde-0196-1000-cece-9fa4391c8b57","name":"","source":{"id":"76692c1a-763b-3ab4-b628-c8153c0a6b0f","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"baff9068-0196-1000-bece-b7849ad3dfe5"},"destination":{"id":"76692c1a-763b-3ab4-b628-c8153c0a6b0f","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"baff9068-0196-1000-bece-b7849ad3dfe5"},"labelIndex":0,"zIndex":3,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1074.1721801757812,"y":-578.0195617675781},{"x":1074.1721801757812,"y":-528.0195617675781}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"dfd8285c-6747-3783-9da7-c1a469d171a5","instanceIdentifier":"c0d979a0-0196-1000-8fe1-1560fa794b6a","name":"","source":{"id":"b09eff2c-cf4b-3da1-86a9-0e01327946fa","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"MonitorActivity","comments":"","instanceIdentifier":"c0ce26ca-0196-1000-07e1-bdaff9181a20"},"destination":{"id":"c0d9616c-0196-1000-53de-fd56d98fca70","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutEmail","comments":"","instanceIdentifier":"5a915523-6e85-3b1c-054f-83366707c620"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"2515691e-62f2-3bad-b20b-d7ea7fd8d448","instanceIdentifier":"bb86354b-0196-1000-283b-072d74c8b2a4","name":"","source":{"id":"71cfeb04-9cc9-3628-8821-95f1df0b71c9","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"ExecuteSQL","comments":"","instanceIdentifier":"bb80c9d8-0196-1000-90ce-7182982a3b38"},"destination":{"id":"807c6db3-56f6-3db6-9b1c-bcaed28a67a8","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"ExecuteSQL","comments":"","instanceIdentifier":"bb84f177-0196-1000-1dc0-36a1e0654b16"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"949c4511-8d85-3d69-bd3e-7446b67c68fd","instanceIdentifier":"c0c923c0-0196-1000-c476-777609acb47d","name":"","source":{"id":"dad2881b-d604-3211-94ca-1b5036985568","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"UpdateAttribute","comments":"","instanceIdentifier":"c0c7b784-0196-1000-c2b6-1aa467551533"},"destination":{"id":"6ab67f13-be05-3270-b6f1-81dd0647874e","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutFile","comments":"","instanceIdentifier":"c0c915b1-0196-1000-ee44-33213f90384a"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"2e8f47a1-3658-39fc-9bad-4e0b0b919dc3","instanceIdentifier":"c0ce3e32-0196-1000-16bc-b5fb14ef2998","name":"","source":{"id":"6ab67f13-be05-3270-b6f1-81dd0647874e","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutFile","comments":"","instanceIdentifier":"c0c915b1-0196-1000-ee44-33213f90384a"},"destination":{"id":"b09eff2c-cf4b-3da1-86a9-0e01327946fa","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"MonitorActivity","comments":"","instanceIdentifier":"c0ce26ca-0196-1000-07e1-bdaff9181a20"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"60668064-0137-30a5-88e6-b74e415aa61f","instanceIdentifier":"c0c4a357-0196-1000-e218-994533da789d","name":"","source":{"id":"c0c41dfe-0196-1000-f197-4ebce6e81141","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"InvokeHTTP","comments":"","instanceIdentifier":"7cb579d1-5aff-3cba-ec21-107f4ee1aecd"},"destination":{"id":"d0624b1d-b73d-3078-ab5d-49a5f585cba9","type":"FUNNEL","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"Funnel","comments":"","instanceIdentifier":"c0c4678c-0196-1000-5830-7dc686dfb0d0"},"labelIndex":0,"zIndex":8,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"48d54c47-e7d4-3c2f-9385-dfd907240f20","instanceIdentifier":"c0c522dc-0196-1000-920a-461d5aa63921","name":"","source":{"id":"c0c4287b-0196-1000-7872-4510c6189570","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"InvokeHTTP","comments":"","instanceIdentifier":"2797199a-66eb-3fd1-b11d-92e59d1d0d0c"},"destination":{"id":"d0624b1d-b73d-3078-ab5d-49a5f585cba9","type":"FUNNEL","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"Funnel","comments":"","instanceIdentifier":"c0c4678c-0196-1000-5830-7dc686dfb0d0"},"labelIndex":0,"zIndex":10,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"4a6ac11d-0c1c-3eeb-9823-fecb7ebcf2ca","instanceIdentifier":"bc0ead78-0196-1000-8f21-71b57534a95e","name":"","source":{"id":"807c6db3-56f6-3db6-9b1c-bcaed28a67a8","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"ExecuteSQL","comments":"","instanceIdentifier":"bb84f177-0196-1000-1dc0-36a1e0654b16"},"destination":{"id":"ac68070d-f807-3a4c-8343-f4f91a2925da","type":"INPUT_PORT","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"DataBaseQueryOutput","instanceIdentifier":"bc0d13b7-0196-1000-a439-a37f8487f823"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"8703d352-2248-3ad6-9d31-6aca0bd0055b","instanceIdentifier":"c0c7d420-0196-1000-7e01-6ebc60637338","name":"","source":{"id":"8b1d0645-16cc-347a-8618-2c8a89e61c12","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c0c5ce6e-0196-1000-87fe-a6bf39578346"},"destination":{"id":"dad2881b-d604-3211-94ca-1b5036985568","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"UpdateAttribute","comments":"","instanceIdentifier":"c0c7b784-0196-1000-c2b6-1aa467551533"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"444c1a84-1b90-3de1-a275-06c0e23ceeb2","instanceIdentifier":"bc0eea71-0196-1000-d8e8-5d39b49c817f","name":"","source":{"id":"37cc00f1-062e-3be9-a771-3b488fe88d2b","type":"OUTPUT_PORT","groupId":"71f3561c-01fc-3fc4-bf32-334b263a57d4","name":"CSVDataUpdateFileName","instanceIdentifier":"bc0e07db-0196-1000-8a33-ac3f7716bf9b"},"destination":{"id":"28806aba-457d-3873-97e3-7b24ed490a34","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"PutFile","comments":"","instanceIdentifier":"bbf7330c-0196-1000-a2fd-dc3c781e3c38"},"labelIndex":0,"zIndex":7,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"ced8738c-c8eb-32a2-adf2-6471201e1b48","instanceIdentifier":"c0c5f91a-0196-1000-b9ca-9f6fb04aaa01","name":"","source":{"id":"d0624b1d-b73d-3078-ab5d-49a5f585cba9","type":"FUNNEL","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"Funnel","comments":"","instanceIdentifier":"c0c4678c-0196-1000-5830-7dc686dfb0d0"},"destination":{"id":"8b1d0645-16cc-347a-8618-2c8a89e61c12","type":"PROCESSOR","groupId":"90f2056a-35f5-3444-91c5-1a60372913f3","name":"JoltTransformJSON","comments":"","instanceIdentifier":"c0c5ce6e-0196-1000-87fe-a6bf39578346"},"labelIndex":0,"zIndex":11,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"}],"labels":[],"funnels":[{"identifier":"d0624b1d-b73d-3078-ab5d-49a5f585cba9","instanceIdentifier":"c0c4678c-0196-1000-5830-7dc686dfb0d0","position":{"x":-1784.0,"y":-1376.0},"componentType":"FUNNEL","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"}],"controllerServices":[{"identifier":"95edb9b6-b6bf-3820-be38-66f6f741dc07","instanceIdentifier":"bb8ba0be-0196-1000-d7d3-8b11d9b02d34","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"5ed1e557-d3e4-3640-b52f-38723529d048","instanceIdentifier":"c0ac452f-0196-1000-3e8b-04faf99e4c33","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.4.0"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/opt/homebrew/opt/openjdk@21/libexec/openjdk.jdk/Contents/Home/lib/security/cacerts","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"01f32ee6-fb0e-3e86-b5c0-fed706989ecb","instanceIdentifier":"bb8c2d0e-0196-1000-2d5e-3415e89d2d73","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"7a60e838-78ce-3af7-b6ae-9e72891371cd","instanceIdentifier":"bb078ab7-0196-1000-e2c4-9fc0df050dda","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"cars\",\n  \"fields\": [\n    {\"name\": \"brand\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"price\", \"type\": [\"null\", \"double\"]},\n    {\"name\": \"body\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"mileage\", \"type\": [\"null\", \"int\"]},\n    {\"name\": \"engv\", \"type\": [\"null\", \"double\"]},\n    {\"name\": \"engtype\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"registration\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"year\", \"type\": [\"null\", \"int\"]},\n    {\"name\": \"model\", \"type\": [\"null\", \"string\"]},\n    {\"name\": \"drive\", \"type\": [\"null\", \"string\"]}\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"},{"identifier":"fa3f457c-8009-3470-97cc-6a47d4b0faa8","instanceIdentifier":"bb3d3c02-0196-1000-8980-7ade98f80115","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost:5432/postgres","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/Applications/tools/postgresql-42.7.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"90f2056a-35f5-3444-91c5-1a60372913f3"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}